@include breakpoint (small only) {
    
    html {
        font-size: 12px;
    }
    
    .section {
        padding: 20px 20px;
    }
    #video {
        .over {
            top:10%;
            left:0; right:0; 
            margin: auto;
            text-align: center;
                a {
                    float:left;
                    margin-left: 20px;
                    }
        }
    }
    
    #intro {
        height: 300px !important;
        .over {
            bottom:20%;
        }
    }
    
    .godown { 
        //display: none; 
    }
    
    #temoins {
        h1 { margin-top: 0}
        p  { margin-right: 0}
        .polaroid { padding: 0;}
    }
    
    #video {
        h2 { font-size: 17px}
    }
    #ambassadeur {
        a { font-size: 12px; }
    }
    #follow {
        h1 { margin-bottom: 10px;}
    }
}